<a href="https://colab.research.google.com/github/Grace-1420/mock_analysis.py/blob/main/Copy_of_Notebooks_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

from io import StringIO

data = StringIO("""
Customer ID,Age,Gender,Purchase Amount (USD),Product Category,Purchase Date,Country,Payment Method
C001,25,Female,120.50,Electronics,2024-11-01,USA,Credit Card
C002,31,Male,75.00,Books,2024-11-02,Canada,PayPal
C003,22,Female,300.20,Fashion,2024-11-03,USA,Debit Card
C004,40,Male,450.00,Electronics,2024-11-05,UK,Credit Card
C005,29,Female,99.99,Cosmetics,2024-11-06,Germany,PayPal
C006,35,Male,149.90,Fashion,2024-11-07,Canada,Credit Card
C007,27,Female,199.00,Electronics,2024-11-08,USA,PayPal
C008,42,Male,85.75,Books,2024-11-09,France,Debit Card
C009,30,Female,210.40,Fashion,2024-11-10,UK,Credit Card
C010,50,Male,400.00,Electronics,2024-11-11,USA,Debit Card
""")

df = pd.read_csv(data)
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'])  # convert date
df = df.rename(columns={"Product Category" : "Category"})
# print (df)
# df['Gender'].value_counts().plot(kind='pie')
# plt.title('PIE CHART OF GENDER DISTRIBUTION')
# plt.savefig('PIE CHART OF GENDER DISTRIBUTION.png')
# plt.show

In [5]:
df.groupby('Category')['Purchase Amount (USD)'].sum().sort_values(ascending = False)

Category
Electronics    1169.50
Fashion         660.50
Books           160.75
Cosmetics        99.99
Name: Purchase Amount (USD), dtype: float64